@use "../../utils/" as *;

@include breakpoint("desktop") {
   .tracking-card {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
         "card1 card2 card3 card4"
         "card1 card5 card6 card7";

      max-width: 56rem;

      &__activity {
         &-wrapper {
            gap: var(--spacing-md-1);
         }

         &-hours {
            flex-direction: column;
            align-items: start;
            gap: var(--spacing-sm);
         }

         &-current {
            font-size: 2.5rem;
         }
      }
   }
}
